In [6]:
import pymysql

conn, cur =None,None
data1, data2, data3, data4="","","",""
sql=""

conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB',charset='utf8')
cur = conn.cursor()

cur.execute('CREATE TABLE IF NOT EXISTS userTable (id char(4), userName char(15), email char(20), birthYear int)')
cur.execute("insert into userTable values('john', 'John Bann','john@naver.com', 1990)")
cur.execute("insert into userTable values('rim', 'rim mire','rim@naver.com', 1980)")
cur.execute("insert into userTable values('park', 'park minseo','park@naver.com', 2000)")


conn.commit()
conn.close()

In [11]:
conn, cur =None,None
data1, data2, data3, data4="","","",""
sql=""

conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB',charset='utf8')
cur = conn.cursor()

cur.execute('select * from userTable')

print('사용자ID    사용자이름    이메일    출생연도')
print('--------------------------------------------')

while (True) :
    row =cur.fetchone()
    if row==None :
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%5s    %15s    %15s    %d"%(data1,data2,data3,data4))

cur.close()

사용자ID    사용자이름    이메일    출생연도
--------------------------------------------
 john          John Bann     john@naver.com    1990
  rim           rim mire      rim@naver.com    1980
 park        park minseo     park@naver.com    2000

In [22]:
import csv
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB',charset='utf8')
cur = conn.cursor()

f =open('C:/Users/seon/Desktop/study/data.csv','r')
csvReader = list(csv.reader(f))
cur.execute('create table if not exists sba(name char(10), sex char(1), class char(1),attend char(1))')

for data in csvReader[1:]:
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]

    sql="""insert into sba(name, sex, class, attend) values(%s,%s,%s,%s);"""
    cur.execute(sql, (row1,row2,row3,row4))

f.close()
conn.commit()

In [21]:
conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB', charset='utf8')
cur = conn.cursor()
f = open('C:/Users/seon/Desktop/study/data.csv', 'r') # csv 파일이 utf8로 인코딩이 되어 있을 때
csvReader = list(csv.reader(f))
cur.execute("CREATE TABLE IF NOT EXISTS sba (name char(10), sex char(1), class char(1), attend char(1))")
for data in csvReader[1:]: # csv 파일에 column명이 있다면 csvReader[1:]로 설정하고 하면 된다.
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]
    sql = """insert into sba (name, sex, class, attend) values(%s, %s, %s, %s);"""
    cur.execute(sql, (row1, row2, row3, row4))
f.close()
conn.commit()

OperationalError: (1054, "Unknown column 'attend' in 'field list'")