# 자료형

### 변수 (Variable)

* 데이터, 값을 담는 상자

### 할당 연산자(Assignment Operator): `=`

* 변수는 `=`을 통해 할당(assignment) 됩니다.

### 동적 타이핑 (Dynamic Typing)

* 파이썬은 실행할 때 자료형을 검사합니다.

In [ ]:
# 변수 x에 임의의 문자열을 할당해봅시다.

In [9]:
X = "hello sesac"

### 자료형 확인

* 해당 데이터 타입을 확인하기 위해서는 `type()`을 활용합니다.

In [ ]:
# type()을 사용해 결과를 확인해봅시다.

In [8]:
type(X)

str

### 메모리 주소 확인

* 해당 값의 메모리 주소를 확인하기 위해서는 `id()`를 활용합니다.

In [ ]:
# id()를 사용해 결과를 확인해봅시다.

In [10]:
id(X)

1708108967344

### 변수 동시 할당

* 여러개의 변수를 동시에 할당할 수 있습니다.

In [ ]:
# 같은 값을 x와 y에 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [11]:
x=y=6

In [13]:
print(x,y)
print('x는',x)

6 6
x는 6

### 다른 값 동시 할당

* 서로 다른 값을 각각의 변수에 할당할 수 있습니다.

In [ ]:
# 두 개의 변수 x, y 에 1, 2 값을 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [14]:
x,y=1,2

In [15]:
print(x,y)

1 2

In [ ]:
# 두 개의 변수 x, y에 값 1을 할당해봅시다.
# 두 개의 변수에 하나의 값을 넣었을때의 오류를 확인해봅시다.

In [16]:
x, y=1

TypeError: cannot unpack non-iterable int object

In [ ]:
# 두 개의 변수 x, y에 값 1, 2, 3 을 동시에 할당해 봅시다.
# 두 개의 변수에 세 개의 값을 넣었을때의 오류를 확인해 봅시다.

In [19]:
x,y=1, 2,3

ValueError: too many values to unpack (expected 2)

### 응용

* 이를 활용하면 서로 값을 바꾸고 싶은 경우 아래와 같이 활용 가능합니다.

In [ ]:
# 변수 x와 y의 값을 바꿔봅시다.
# 그리고 결과를 print를 이용해 확인해봅시다.

In [ ]:
# 1) tmp 변수 활용

In [20]:
x,y=5,2

In [21]:
tmp = x
tmp

5

In [22]:
x = y
print(x,y)

2 2

In [24]:
y=tmp
print(x,y)

2 5

In [ ]:
# 2) python 방식

In [25]:
x,y=y,x
print(x,y)

5 2

### 식별자(Identifiers)

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름(name)입니다. 

* 식별자의 이름은 영문알파벳(대문자와 소문자), 언더스코어(_), 숫자로 구성됩니다.
* 첫 글자에 숫자가 올 수 없습니다.
* 길이에 제한이 없습니다.
* 대소문자(case)를 구별합니다.
* 아래의 키워드는 사용할 수 없습니다. [파이썬 문서](https://docs.python.org/ko/3/reference/lexical_analysis.html#keywords)

```
False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [ ]:
# 키워드들을 직접 확인해봅시다.

In [31]:
# False
None
3 and False

False

In [32]:
# import 구문은 모듈파트에서 다시 알아봅시다.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

*  내장함수나 모듈 등의 이름으로도 만들면 안됩니다.

In [ ]:
# 내장함수의 이름을 사용하면 어떤일이 일어나는지 확인해봅시다.

In [ ]:
# print는 값을 출력해주는 내장함수(Built-in function)입니다.
print(5)

In [33]:
# 예시로 변수명을 print라하고 문자열 'hi'를 할당해봅시다. 
# 그리고 print() 를 사용하고 오류를 확인해봅시다.
# print은 이제 'hi'라는 값으로 할당되었기 때문에 이전의 화면 출력 기능을 수행하지 못합니다.
print = 'hi'
print(5)

TypeError: 'str' object is not callable

In [34]:
print

'hi'

In [35]:
# 뒤에서 진행될 코드에 영향이 갈 수 있기 때문에 방금 생성한 print 변수를 삭제합니다.
# 이렇게 하면 변수 print 는 삭제되고 화면출력의 print는 사용가능 합니다.
# 자세한 내용은 namespace 파트에서 확인해봅시다.
del print

In [36]:
print('helle')

helle

### `None` 타입

파이썬에서는 값이 없음을 표현하기 위해 `None` 타입이 존재합니다.

In [ ]:
# None의 타입을 알아봅시다.

In [37]:
print(type(None))

<class 'NoneType'>

In [39]:
type(None)

NoneType

In [ ]:
# 변수에 저장해서 확인해봅시다.
# 변수 a에 None을 할당하고 출력해봅시다.

In [40]:
a= None
print(a)

None

* 참고) 함수의 return

In [41]:
def my_sum(a, b):
    print(a + b)

In [42]:
ans = my_sum(1, 2)
print(ans)

3
None

In [43]:
def my_sum(a, b):
    return(a + b)

ans = my_sum(1,2)
print(ans)

3

## 형변환(Type conversion, Typecasting)

파이썬에서 데이터타입은 서로 변환할 수 있습니다.

- 암시적 형변환
- 명시적 형변환

### 암시적 형변환(Implicit Type Conversion)

사용자가 의도하지 않았지만, 파이썬 내부적으로 자동으로 형변환 하는 경우입니다.
아래의 상황에서만 가능합니다.
* bool
* Numbers (int, float, complex)

In [ ]:
# boolean과 integer는 더할 수 있을까요?
# True와 임의의 정수를 더해봅시다.

In [50]:
True +(-2)

-1

In [51]:
True +(-2) = 1

SyntaxError: cannot assign to expression (418086954.py, line 1)

In [ ]:
# int, float, complex를 각각 변수에 대입해봅시다.
# 변수 int_number 에 정수를 할당해봅시다.
# 변수 float_numbe 에 실수를 할당해봅시다.
# 변수 complex_number 에 복소수를 할당해봅시다.

In [52]:
int_number=7
float_number=3.333
complex_number=1 + 5j

In [53]:
type(int_number + float_number)

float

In [56]:
type(int_number + complex_number)

complex

In [57]:
print(int_number + complex_number)

(8+5j)

In [ ]:
# int와 float를 더해봅시다. 그리고 값을 출력해봅시다.
# 그 결과의 type은 무엇일까요?

In [ ]:
# int와 complex를 더해봅시다. 그리고 값을 출력해봅시다.
# 그 결과의 type은 무엇일까요?

### 명시적 형변환(Explicit Type Conversion)
위의 상황을 제외하고는 모두 명시적으로 형변환을 해주어야합니다.

* string -> intger  : 형식에 맞는 숫자만 가능
* integer -> string : 모두 가능

암시적 형변환이 되는 모든 경우도 명시적으로 형변환이 가능합니다.

* `int()` : string, float를 int로 변환
* `float()` : string, int를 float로 변환
* `str()` : int, float, list, tuple, dictionary를 문자열로 변환

`list()`, `tuple()` 등은 다음 챕터에서 배울 예정입니다.

In [ ]:
# integer와 string 사이의 관계는 명시적으로 형변환을 해줘야만 합니다.

In [ ]:
# 정수와 문자열을 그냥 더해보고 오류를 확인해봅시다.

In [58]:
5 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 정수를 문자열로 형변환하고 문자열과 더해봅시다.

In [59]:
str(5) +'3'

'53'

In [ ]:
# 변수 a에 string 3을 할당하고 integer로 변환해봅시다.

In [60]:
a='3'
int(a)

3

In [ ]:
# 변수 a에 string 3.5를 할당하고 float로 변환해봅시다.

In [63]:
a='3.5'
float(a)

3.5

In [ ]:
# string은 글자가 숫자일때만 형변환이 가능합니다.
# 변수 a에 문자열 'hi'를 할당하고 integer로 변환해봅시다.

In [64]:
a='hi'
int(a)

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
# string 3.5를 int로 변환할 수는 없습니다.
# 변수 a에 string 3.5를 저장하고 integer로 변환하고 오류를 확인해봅시다.

In [65]:
a='3.5'
int(a)

ValueError: invalid literal for int() with base 10: '3.5'

In [ ]:
# float 3.5는 int로 변환이 가능합니다.
# 변수 a에 실수 3.5를 저장하고 integer로 변환해봅시다.

In [67]:
int(3.5)
rounddo(3.5)

4

# 정리

## 변수(Variable)와 자료형(Data Type)

<center><img width=800 height=400 src="https://user-images.githubusercontent.com/9452521/87640197-55a7f280-c781-11ea-9cff-19c022ce704a.png", alt="variable"/></center>

In [70]:
radius = 10
area=radius * radius **2
print(type(area))
result = 'Area:'+str(area)
print(result)

<class 'int'>
Area:1000